:root {
  font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

body {
  margin: auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 10px;
  background-color: #f7f8f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
}
.header {
  font-weight: 700;
  size: 31px;
  line-height: 34.66px;
  text-align: center;
  color: #282828;
  margin: 20px auto;
}

@media (max-width: 960px) {
  :root {
    font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    line-height: 1.5;
  }
}
